.add_table_container {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgba($color: #000, $alpha: 0.2);
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table_form {
  border-radius: 5px;
  background-color: #fff;
  width: 80%;

  .table_form_header {
    height: 40px;
    border-bottom: 1px solid #000;
    padding: 5px 0;

    &__heading {
      padding: 10px 5px;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }

  .table_form_body {
    height: 120px;
    padding: 10px;
  }

  .name_input {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 20px;
    gap: 10px;
    padding: 10px;

    input {
      height: 20px;
      border-radius: 5px;
    }
  }
}
